* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-size: 1.6rem;
    background: #e6ecf3;
   
}

.header-container li:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

/* ------------------------- */
/* ÁREA PRINCIPAL            */
/* ------------------------- */

.logincadastro,
 .loginmain{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
}

.envolta {
    width: 85%;
    max-width: 110rem;
    min-height: 52rem;
    border: 0.3rem solid #c7b99f;
    border-radius: 12rem;
    padding: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.legenda {
    
    text-align: center;
    font-size: 1.7rem;
    color: #75695a;
    font-weight: bold;
}

.envolta div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


label {
    color: #1d1d1d;
    font-size: 1.5rem;
    font-weight: bold;
}


input {
    width: 26rem;
    padding: 1.2rem 1.5rem;
    background: #cfbea0;
    border: none;
    border-radius: 1rem;
    font-size: 1.5rem;
    outline: none;
    text-align: center;
}

h1, 
.titulocadastro, 
.titulologin {
    text-align: center;
    font-size: 4.5rem;
    color: #163a63;
    font-weight: 700;
    margin: 4rem 0 2rem 0;
}

.menu {
    width: 85%;
    max-width: 110rem;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.menu button {
    background: #e03535;
    color: white;
    border: none;
    padding: 1.4rem 4.2rem;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 1.2rem;
    cursor: pointer;
    transition: 0.2s;
}

.menu button:hover {
    background: #c62828;
}

header {
    background: #002654;
    height: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 10;
    font-family: "Playfair Display",sans-serif;
}

main{
    padding-block: 5rem;
     padding-top: 48rem;
}

.header-container {
    max-width: 1220px;
    margin-inline: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.header-container h1 {
    color: #fff;
    font-family: "Playfair Display", sans-serif;
    font-size: 2.5rem;
}

.header-container ul {
    list-style: none;
    display: flex;
    gap: 6rem;
    font-family: "Playfair Display", sans-serif;
}

.header-container a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 2.5rem;
}

.header-container li:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.torre{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 28rem;
   
}

.torre img{
     border-radius: 0.6rem;
}

.entrar{
    position: relative;
    right: 64rem;
    font-family: "Playfair Display", sans-serif;
    color: #002654;
    font-size: 2rem;
}

.historia h2{
    font-family: "Playfair Display", sans-serif;
    color: #002654;
    padding: 11rem 12rem;
    font-size: 5rem;
}

.historia p{
    font-family: "Open Sans", sans-serif;
    padding-left: 14rem;
}

.historia{
    background: #f5fbf9;
    margin-top: 5rem;
}

.historia button{
    background: #e52b3d;
    color: white;
    border: none;
    padding: 1.4rem 4.2rem;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 1.2rem;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
    margin-top: 4rem;
    left: 14rem;
    margin-bottom: 2rem;
}

.historia button:hover {
    background: #c62828;
}




